
<template>
    <div>
        <h3>Right click on the image below</h3>                                 
        <div v-html="link"> </div>


    </div>
</template>

<style lang="scss" scoped >

</style>


<script>

export default {
  components: {
  },
  data() {
    return{
        link: '',
        search_product: '',
    }  
  },
  created() {
  },
  mounted(){
      this.link = this.$route.query.link;
      this.initialLoad();
  },
  methods: {
        initialLoad(){

        },
  }
}

</script>