
<template>
    <div class="" style="margin-bottom:80px">
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img :src="hosturl + '/images/senegal.png'" style="" class="senegal"> <span class="separator"></span> <img :src="hosturl + '/images/benno.png'" class="benno">
                    </div>
                    <div class="col-md-6">
                        <div><span class="macky">Avec Macky Bâtissons<br>Un Sénégal Pour Tous</span></div>
                        <div style="clear:both"></div>
                    </div>
                     
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <div style="" id="imagebox" class="imagebox"  >

                        <div class="imagebox_div" id="my-design" :style="{width: width + 'px', height: height + 'px'}">

                            <img :src="hosturl + '/images/macky1.png'" style="" class="mackyimg" :class="{show: design == 1}" :style="{width: '100%'}">
                            <img :src="hosturl + '/images/macky2.png'" style="" class="mackyimg" :class="{show: design == 2}" :style="{width: '100%'}">
                            <img :src="hosturl + '/images/macky3.png'" style="" class="mackyimg" :class="{show: design == 3}" :style="{width: '100%'}">

                            <img :src="customImage" :style="{ width: responsiveWidth + 'px', top: customImgTop + 'px', left: customImgLeft + 'px'}" class="customimg">

                            <p class="customname" :style="{ 'font-size': range + 'px', top: '32%' }" v-if="design == 1">{{enterinput}}</p>
                            <p class="customname" :style="{ 'font-size': range + 'px', top: '34%' }" v-if="design == 2">{{enterinput}}</p>
                            <p class="customname" :style="{ 'font-size': range + 'px' }" v-if="design == 3">{{enterinput}}</p>

                        </div>

                    </div>

                    <div style="text-align: center">
                        <div> <i class="fa fa-arrow-up fa-2x" aria-hidden="true" @click="moveup()"></i> </div>
                        <div> <i class="fa fa-arrow-left fa-2x" aria-hidden="true" @click="moveleft()"></i><i class="fa fa-arrow-right fa-2x" @click="moveright()" aria-hidden="true"></i> </div>
                        <div> <i class="fa fa-arrow-down fa-2x"  @click="movedown()" aria-hidden="true"></i> </div>
                    </div>

                    <div style="text-align: center;margin:10px 0px 15px; font-weight: bold">Choisissez votre cadre</div>
                    <div style="text-align: center">
                        <label><input type="radio" v-model="design" value="1"> 1er Désign </label>
                        <label><input type="radio" v-model="design" value="2"> 2ème Désign </label>
                        <label><input type="radio" v-model="design" value="3"> 3ème Désign </label>
                    </div>

                </div>
                <div class="col-md-6">

                    <div><vue-dropzone ref="dropzone" id="drop1" :options="dropOptions" @vdropzone-success="afterFileSuccess"></vue-dropzone></div>


                    <div class="zoom"><span>Zoomez sur votre photo</span> <input type="range" name="points" min="200" max="1000" v-model="responsiveWidth" class="range2"></div>

                    <div> <input type="text" name="enterinput" class="form-control enterinput" v-model="enterinput" placeholder="Entrez votre nom">  </div>

                    <div class="points"><span>Zoomer sur le texte</span> <input type="range" name="points" min="15" max="50" v-model="range" class="range1"></div>


                    <button id="submit" class="btn btn-success btn-lg submit" :disabled="downloadloading == true" @click="download()">Télécharger l'image <i class="fa fa-spinner fa-spin" style="font-size:20px" v-if="downloadloading == true"/></button>
                    <span class="telechargez">
                        Téléchargez et partagez votre photo sur Facebook, Twitter et / ou Instagram !<br><br>
                        Twitter/Instagram/Facebook: @senegalpourtous
                    </span>


                </div>
            </div>
        </div>

    </div>
</template>


<style>
    input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    }
    input[type=range]:focus {
    outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #5c462e;
    border-radius: 1.3px;
    }
    input[type=range]::-webkit-slider-thumb {
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #5c462e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5c462e;
    }
    input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #5c462e;
    border-radius: 1.3px;
    }
    input[type=range]::-moz-range-thumb {
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #5c462e;
    cursor: pointer;
    }
    input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
    }
    input[type=range]::-ms-fill-lower {
    background: #5c462e;
    border-radius: 2.6px;
    }
    input[type=range]::-ms-fill-upper {
    background: #5c462e;
    border-radius: 2.6px;
    }
    input[type=range]::-ms-thumb {
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background: #5c462e;
    cursor: pointer;
    }
    input[type=range]:focus::-ms-fill-lower {
    background: #5c462e;
    }
    input[type=range]:focus::-ms-fill-upper {
    background: #5c462e;
    }


</style>


<style lang="scss" scoped >

    .fa{
        cursor: pointer;
    }


    .vue-dropzone {
        border: 2px dashed #5c462e;
        letter-spacing: 0.2px;
        color: #5c462e;
        background-color: #f9f9f9;
    }

    .btn-success {
        color: #fff;
        background-color: #068142;
        border-color: #068142;
    }

    .btn-lg {
        border-radius: 0px;
    }

    .form-control:focus {
        border-color: unset;
        outline: 0;
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }

    .btn.active, .btn:active {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }

    ::placeholder { color: #5c462e !important;}

    label{
        cursor: pointer;
        margin-right: 15px;
    }

    .telechargez{
        width: 250px;
        display: inline-block;
        vertical-align: text-top;
        word-break: break-word;
        margin-left: 15px;
        margin-bottom: -5px;
        color: #5c462e;
    }

    .header{
        background: #5C462E;
        padding: 20px;
    }

    .submit{
        margin-top: 60px;
    }

    .separator{
        width: 1px;
        height: 70px;
        display: inline-block;
        background: #cecece;
        vertical-align: middle;
        margin-left: 40px;
    }

    .senegal{
        height:90px; 
    }

    .benno{
        height:90px; 
        margin-left: 35px;
    }

    .macky{
        font-family: MontserratLight;
        color: white;
        display: inline-block;
        font-size: 20px;
        float: right;
        margin-top: 20px;
    }

    .imagebox_div{
        display: inline-block;
        background: white;
        position: relative;
        overflow: hidden;
    }

    .imagebox{
        text-align: center;
        margin-top: 60px;
        position: relative;
        margin-bottom: 0px
    }

    .mackyimg{
        position: absolute;
        left: 0px;
        -o-object-fit: contain;
        object-fit: contain;
        top: 0px;
        margin: 0px;
        z-index: 10;
        display: none;
    }

    .show{
        display: block;
    }

    .customimg{
        position: absolute;
        object-fit: cover;
        margin: auto;
        z-index: 9;
        zoom: 1;
    }

    .customname{
        position: absolute;
        top: 35%;
        left: -9999px;
        right: -9999px;
        margin: auto;
        color: #fcf3d5;    
        font-weight: bolder;
        z-index: 11;
        // -webkit-text-stroke: 1.2px #000000;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    div#drop1 {
        margin-top: 60px;
    }

    .range1, .range2 {
        display: inline-block;
        width: 80%;
        margin-left: 30px;
        bottom: 10px;
        position: relative;
    }

    @media (max-width: 1440px){

        .range1, .range2 {
            width: 78%;
            margin-left: 20px;
        }

    }

    .points, .range2, .zoom{
        margin-top:20px;
    }

    .enterinput{
        margin-top: 70px;
    }

    .enterinput {
        height: 70px;
        background-color: #e9e9e9;
    }

    .zoom span, .points span{
        width: 100px;
        display: inline-block;
        color: #5c462e;
    }


</style>

<style>
    .dropzone {
        min-height: 0px;
        font-family: Montserrat;
    }

    .dropzone.dz-clickable .dz-message {
        cursor: pointer;
        text-align: left;
        vertical-align: middle;
    }

    .dropzone .dz-message {
        margin: 0px;
    }

    .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
        cursor: pointer;
        vertical-align: sub;
    }

    .vue-dropzone i{
        color: #5c462e;
    }


</style>


<script>

import vueDropzone from "vue2-dropzone";

import domtoimage from 'dom-to-image';

import html2canvas from 'html2canvas';

import axios from 'axios';

export default {
  components: {
        vueDropzone,
  },
  data() {
    return{
        hosturl: index_url,
        search_product: '',
        range: 20,
        zoom: 1,
        design: 3,
        enterinput: 'Votre prénom',
        height: 500,
        width: 500,
        customImgTop: 0,
        customImgLeft: 0,
        imageboxheight: 550,
        responsiveWidth: 300,
        downloadloading: false,
        customImage: index_url + '/images/custom.jpg',
        dropOptions: {
            paramName: "imageupload",
            url: index_url + '/api/image-upload',
            maxFilesize: 20, // MB
            maxFiles: 1,
            thumbnailWidth: 80, // px
            thumbnailHeight: 80,
            addRemoveLinks: true,
            dictDefaultMessage: '<i class=\'fa fa-camera fa-2x\'></i> Cliquez ou glissez votre photo ici',
        }
    }  
  },
  created() {
  },
  mounted(){
      this.initialLoad();
  },
  computed: {
      fontWidth(){
          return this.range;
      }
  },
  methods: {
        initialLoad(){
            this.responsiveMobile();

        },
        afterFileSuccess(file, response){
            this.customImage = response.url;
            this.$refs.dropzone.removeAllFiles(); 
        },
        download(){

            this.downloadloading = true;
            let $this = this;
            let newcanvas = null;
            html2canvas(document.querySelector("#my-design")).then(canvas => {
                newcanvas = canvas;

                var dataUrl = canvas.toDataURL();
    
                var milliseconds = new Date().getTime();
                var link = document.createElement('a');

               
                link.download = $this.enterinput + ' ' + milliseconds + '.png';

                axios.post(index_url + '/api/created-file', {

                    file: dataUrl,
                    filename: $this.enterinput + ' ' + milliseconds + '.png',
                    
                })
                .then(response => {     

                    link.href = response.data;

                    document.body.appendChild(link);

                    link.click();

                    $this.downloadloading = false;

                    this.$analytics.trackEvent('Flyer', 'Downloaded');
                });

            })
        
        },
        moveup(){
            this.customImgTop = parseInt(this.customImgTop) - 10;
        },
        moveleft(){
            this.customImgLeft = parseInt(this.customImgLeft) - 10;

        },
        moveright(){
            this.customImgLeft = parseInt(this.customImgLeft) + 10;

        },
        movedown(){
            this.customImgTop = parseInt(this.customImgTop) + 10;

        },

        responsiveMobile(){
            if(document.documentElement.clientWidth < 400){
                this.width = 350;
                this.height = 350;
                this.responsiveWidth = 210;
                this.imageboxheight = 400;
            }
        },

        
  }
}

</script>