
<template>
    <div>
        <h3>Not Found</h3>
    </div>
</template>

<style lang="scss" scoped >

</style>


<script>

export default {
  components: {
  },
  data() {
    return{
        search_product: '',
    }  
  },
  created() {
  },
  mounted(){
      this.initialLoad();
  },
  methods: {
        initialLoad(){

        },
  }
}

</script>