@font-face {
  font-family: MontserratLight;
  src: url("fonts/Montserrat-LightItalic.otf");
}



@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Bold.otf");
}


body{
  font-family: Montserrat, sans-serif, Tahoma;
  background: #fcfcfc;
  color: #525457;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgb(56, 41, 24);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.container {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 400px){
  .container {
      padding-left: 15px;
      padding-right: 15px;
  }
}
